*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Navbar */

.navbar{
    background:#1e293b;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
}

.nav-links a:hover{
    color:#38bdf8;
}

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
}

/* Home */

#home{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#2563eb,#06b6d4);
    color:white;
}

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    margin-bottom:20px;
}

/* Sections */

section{
    padding:60px 10%;
}

#about,
#projects,
#Skills,
#contact{
    background:rgb(241, 128, 213);
    margin:30px auto;
    border-radius:15px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.project-card{
    background:#f8fafc;
    padding:20px;
    border-radius:10px;
    margin-top:15px;
}

/* Form */

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
}

input,
textarea{
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    padding:12px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

/* Mobile */

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:60px;
        right:0;
        width:100%;
        background:#1e293b;
        text-align:center;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:15px 0;
    }

    #home h1{
        font-size:30px;
    }
}